.card {
  width: 358px;
  height: 258px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 36px;
  margin-top: -170px;
}

@media screen and (max-width: 620px) {
  .card {
    width: 238px;
    height: 278px;
    padding: 22px;
  }
}
